node_modules
urlsLevel
namesLevel
fullOutput.json 
fullOutputURLs.json
names.json
namesAsString.json
namesLevel/CURRENT
namesLevel/LOG
namesLevel/LOG.old
urlsLevel/CURRENT
urlsLevel/LOG
urlsLevel/LOG.old
urlsLevel/000035.ldb
urlsLevel/000038.ldb