namesLevel
urlsLevel
outputNoNames.json
fullOutput.json
fullOutput.txt
fullOutputURLs.json
names.json
recoverLastSession.json
namesAsString.json
node_modules
globalVariables.json
dbUrlPrecheck
urlsLevelPre
fullOutput
names-output
full-output
storage